# Entornos virtuales
venv/
env/
.env

# Python basura
__pycache__/
*.py[cod]

# Google Cloud (¡Muy importante!)
*.json
.gcp/

# Datos temporales y resultados
input/
output/
temp/
staging/

# Archivos de sistema
.DS_Store